/* 
.containerLogin {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    height: 100%;
  }
  .containerMainLogo {
    position: absolute;
    margin-top: 70px;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #945e0c;
    float: right;
    width: 100%;
    display: block;
  }


  .logoFooter {
    font-size: 28px;
    text-align: center;
  }
  .firstSubcontainerLogin {
    margin: 40px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .welcomePhrase {
    margin-bottom: 35px;
    align-self: center;
    font-size: 17px;
  }
  .loginForm {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    align-items: center;
  }
  .inputLogin {
    width: 270px;
    margin: 10px 0 5px 0;
    padding: 14px 20px;
    border-radius: 15px;
    border: 1px solid #e7b221;
    background-color: #f4f3f3;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
    outline: none;
  }

  .loginButton {
    width: 180px;
    justify-content: center;
    position: center;
    color: #ffffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 10px 40px;
    background: #72480c;
    border-radius: 15px;
    border: 1px;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .loginButton:hover {
    color: #000;
  }

  .enterWith {
    margin: 16px 0;
    font-size: 16px;
  }

  .registerButton {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
  .registerButton:hover {
    cursor: pointer;
    opacity: 0.7;
  } */